* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #ffffff;
}

header {
  background: linear-gradient(90deg, #551a8b, #1a1a1a);
  padding: 15px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 2px 10px rgb(80, 22, 116, 1);
  z-index: 1000;
  position: sticky;
  top: 0;
}
.header-title {
  display: flex;
  align-items: center;
}
header img {
  width: 15%;
  margin-right: 20px;
  height: auto;
  border-radius: 50%;
  border: 1px solid black;
}
header h1 {
  color: #bb86fc;
  font-size: 30px;
}
header h1 span {
  color: #7df9ff;
  font-size: 14px;
  display: block;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-links li {
  position: relative;
  /* margin-left: 20px; */
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 1s ease;
}
.nav-links li a:hover {
  background-color: #7df9ff;
  border-radius: 4px;
  border-bottom: 3px solid #c724b1;
  color: black;
}

/* DROPDOWN STYLE */
.dropdown {
  position: absolute;
  display: none;
  background-color: #1a1a1a;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 1001;
  list-style: none;
}
.nav-links li:hover .dropdown {
  display: block;
}
.dropdown li {
  margin: 0;
}
.dropdown li a {
  padding: 10px 80px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.dropdown li a:hover {
  background-color: #2a1a2a;
  color: #03dac4;
  border-radius: 4px;
}

/* HAMBURGER MENU FOR MOBILE */
.hamburger {
  display: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #1a1a1a;
    padding: 20px 80px;
    border-radius: 5px;
    border-bottom: 2px solid #fb48c4;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .dropdown {
    position: static;
    display: none;
    background: #2a1a2a;
  }
  .nav-links li:hover .dropdown {
    display: block;
  }
}

/* MAIN CONTENT */
main {
  padding: 20px;
}

main img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
h2 {
  color: #c724b1;
  font-size: 30px;
}

/* SLIDE SHOW */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  margin: auto;
  background-color: #00008b;
  border-radius: 10px;
  border: 2px solid #fb48c4;
  min-width: 400px;
  max-width: 700px;
  min-height: 400px;
  max-height: 700px;
  z-index: 10;
}
.Slide_show img {
  width: 100%;
  height: auto;
}
.Slides_fade {
  display: none;
  max-width: 600px;
  min-width: 400px;
  min-height: fit-content;
  max-height: fit-content;
}
.slideshow-container a {
  text-decoration: none;
  color: #7df9ff;
  font-size: 20px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
  display: block;
  z-index: 11;
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.announcement {
  background-color: #00008b;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
  border: 2px solid #fb48c4;
}
.announcement h3 {
  color: #7df9ff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

/* GAME SECTION */
.game-highlights {
  margin: 20px 0;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-card p {
  font-size: 14px;
  margin-bottom: 3px;
}
.game-card {
  background-color: #2e323e;
  border-radius: 10px;
  border: 2px solid #fb48c4;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 150px;
  gap: 20px;
}
.game-card:hover {
  background-color: #1a1a1a;
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 0 5px 1px #3674b5;
}

.game-card span {
  color: #ffff00;
}

.game-highlights button {
  background-color: #39ff14;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 2px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.game-highlights button:hover {
  background-color: blue;
  color: #39ff14;
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 0 5px 1px #3674b5;
}

form {
  background-color: #00008b;
  padding: 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(45deg, #7df9ff, #fb48c4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
